#  Ejercicios Pr谩cticos: Estructuras de Datos en Python


###  **Ejercicio 1: Creaci贸n y acceso a listas**
**Enunciado:**  
Crea una lista con los nombres de 5 pa铆ses. Luego, muestra el primer y el 煤ltimo elemento de la lista.

---

In [2]:
Lista = ["Espa帽a","Francia","China","Grecia","Alemania"]
print(f"{Lista[0]}, {Lista[-1]}")

Espa帽a, Alemania

###  **Ejercicio 2: Modificaci贸n de listas**
**Enunciado:**  
Dada la lista `numeros = [10, 20, 30, 40, 50]`, cambia el tercer elemento por el n煤mero 35 y luego agrega el n煤mero 60 al final.

---

In [3]:
numeros = [10, 20, 30, 40, 50]
numeros[2]= 35
numeros.append(60)
for n in numeros:
    print(n)

10
20
35
40
50
60

###  **Ejercicio 3: Slicing en listas**
**Enunciado:**  
Dada la lista `letras = ['a', 'b', 'c', 'd', 'e', 'f', 'g']`, extrae los elementos desde el 铆ndice 2 hasta el 5 (inclusive) y mu茅stralos.

---

In [3]:
letras = ['a', 'b', 'c', 'd', 'e', 'f', 'g']
print(f"{letras[2:6]}")

['c', 'd', 'e', 'f']

###  **Ejercicio 4: Operaciones con tuplas**
**Enunciado:**  
Crea una tupla con tres colores primarios. Intenta modificar el segundo elemento (deber铆a dar error) y luego muestra la longitud de la tupla.

---

In [7]:
colores =('Magenta', 'Cyan', 'Amarillo')
print(colores)
print(len(colores))

('Magenta', 'Cyan', 'Amarillo')
3

###  **Ejercicio 5: Desempaquetado de tuplas**
**Enunciado:**  
Dada la tupla `coordenadas = (4, 7, 2)`, desempaqueta sus valores en tres variables `x`, `y`, `z` y luego impr铆melas.

---

In [8]:
coordenadas = (4, 7, 2)
x,y,z = coordenadas
print(x,y,z)

4 7 2

###  **Ejercicio 6: Creaci贸n y operaciones con conjuntos**
**Enunciado:**  
Crea dos conjuntos: `A = {1, 2, 3, 4, 5}` y `B = {4, 5, 6, 7, 8}`. Calcula e imprime:
- Uni贸n de A y B
- Intersecci贸n de A y B
- Diferencia (A - B)

---

In [ ]:
A = {1, 2, 3, 4, 5}
B = {4, 5, 6, 7, 8}

print(A.union(B))
print(A.intersection(B))
print(A.difference(B))

{1, 2, 3, 4, 5, 6, 7, 8}
{4, 5}
{1, 2, 3}
Uni贸n: {1, 2, 3, 4, 5, 6, 7, 8}
Intersecci贸n: {4, 5}
Diferencia A - B: {1, 2, 3}

###  **Ejercicio 7: Eliminaci贸n de duplicados con conjuntos**
**Enunciado:**  
Dada una lista con elementos repetidos `datos = [3, 5, 7, 3, 8, 5, 9, 7, 7, 1]`, convi茅rtela en un conjunto para eliminar duplicados y luego vuelve a convertirla en lista.

---

In [18]:
datos = [3, 5, 7, 3, 8, 5, 9, 7, 7, 1]
datos_lista_no_duplicados =list(set(datos))
print(datos_lista_no_duplicados)

[1, 3, 5, 7, 8, 9]

###  **Ejercicio 8: Creaci贸n de diccionarios**
**Enunciado:**  
Crea un diccionario que almacene la edad de tres personas: Ana (25), Luis (30), Marta (28). Luego, muestra la edad de Luis.

---

In [19]:
Personas = { "Luis" : 30, "Ana" : 25, "Marta" : 28}

print(Personas["Luis"])

30

###  **Ejercicio 9: Modificaci贸n de diccionarios**
**Enunciado:**  
Agrega una nueva persona "Carlos" de 35 a帽os al diccionario del ejercicio anterior. Luego, cambia la edad de Marta a 29.

---

In [21]:
Personas["Carlos"] = 35
Personas["Marta"] = 29
print(Personas)

{'Luis': 30, 'Ana': 25, 'Marta': 29, 'Carlos': 35}

###  **Ejercicio 10: Recorrido de diccionarios**
**Enunciado:**  
Dado el diccionario `productos = {"manzana": 0.5, "pan": 1.2, "leche": 1.0, "huevos": 2.3}`, recorre e imprime cada producto con su precio formateado como "Producto: precio ".

---

In [24]:
productos = {"manzana": 0.5, "pan": 1.2, "leche": 1.0, "huevos": 2.3}

for clave, valor in productos.items():
    print(f"{clave} : {valor} ")

manzana : 0.5
pan : 1.2
leche : 1.0
huevos : 2.3

###  **Ejercicio 11: Lista de diccionarios**
**Enunciado:**  
Crea una lista de diccionarios donde cada diccionario represente un estudiante con "nombre" y "nota". Agrega al menos 3 estudiantes. Luego, recorre la lista e imprime solo los nombres de los estudiantes con nota mayor o igual a 5.

---

In [30]:
Estudiante_1 ={"nombre": "Paco", "nota": 5}
Estudiante_2 ={"nombre": "Luc铆a", "nota": 3}
Estudiante_3 ={"nombre": "Rosa", "nota": 9}

Estudiantes = [Estudiante_1,Estudiante_2,Estudiante_3]

for estudiante in Estudiantes:
    if estudiante["nota"] >=5:
        print(estudiante["nombre"])

Paco
Rosa

###  **Ejercicio 12: Conversi贸n entre estructuras**
**Enunciado:**  
Dada la tupla `marcas = ("Toyota", "Ford", "BMW", "Mercedes")`, convi茅rtela en una lista, agrega la marca "Audi" al final, y luego convierte la lista en un conjunto.

---

In [35]:
marcas = ("Toyota", "Ford", "BMW", "Mercedes")
marcas_l = list(marcas)
marcas_l.append('Audi')
print(set(marcas_l))

{'Ford', 'Mercedes', 'Toyota', 'BMW', 'Audi'}


###  **Ejercicio 13: Operaciones avanzadas con listas**
**Enunciado:**  
Dada la lista `numeros = [12, 45, 23, 67, 34, 89, 56]`, ord茅nala de menor a mayor, luego invierte el orden, y finalmente encuentra el 铆ndice del n煤mero 67.

---

In [44]:
numeros = [12, 45, 23, 67, 34, 89, 56]

numeros_ordenados = sorted(numeros)

numeros_ordenados.reverse()
print(numeros_ordenados)

[89, 67, 56, 45, 34, 23, 12]

###  **Ejercicio 14: Combinaci贸n de conjuntos**
**Enunciado:**  
Dados tres conjuntos:  
`X = {1, 2, 3, 4, 5}`  
`Y = {4, 5, 6, 7}`  
`Z = {7, 8, 9}`  
Encuentra los elementos que est谩n en X y en Y pero no en Z.

---

In [ ]:

X = {1, 2, 3, 4, 5}
Y = {4, 5, 6, 7}
Z = {7, 8, 9}



###  **Ejercicio 15: Diccionario anidado**
**Enunciado:**  
Crea un diccionario anidado que almacene informaci贸n de dos libros. Cada libro debe tener: t铆tulo, autor y a帽o. Luego, imprime la informaci贸n completa del segundo libro.

---


##  Soluciones a los Ejercicios

```python
# Soluci贸n Ejercicio 1
paises = ["Espa帽a", "Francia", "Italia", "Alemania", "Portugal"]
print("Primer pa铆s:", paises[0])
print("ltimo pa铆s:", paises[-1])
```

```python
# Soluci贸n Ejercicio 2
numeros = [10, 20, 30, 40, 50]
numeros[2] = 35
numeros.append(60)
print(numeros)
```

```python
# Soluci贸n Ejercicio 3
letras = ['a', 'b', 'c', 'd', 'e', 'f', 'g']
sub_lista = letras[2:6]
print(sub_lista)
```

```python
# Soluci贸n Ejercicio 4
colores = ("rojo", "verde", "azul")
# La siguiente l铆nea dar谩 error porque las tuplas son inmutables:
# colores[1] = "amarillo"
print("Longitud de la tupla:", len(colores))
```

```python
# Soluci贸n Ejercicio 5
coordenadas = (4, 7, 2)
x, y, z = coordenadas
print(f"x = {x}, y = {y}, z = {z}")
```

```python
# Soluci贸n Ejercicio 6
A = {1, 2, 3, 4, 5}
B = {4, 5, 6, 7, 8}
print("Uni贸n:", A | B)
print("Intersecci贸n:", A & B)
print("Diferencia A - B:", A - B)
```

```python
# Soluci贸n Ejercicio 7
datos = [3, 5, 7, 3, 8, 5, 9, 7, 7, 1]
sin_duplicados = list(set(datos))
print("Lista sin duplicados:", sin_duplicados)
```

```python
# Soluci贸n Ejercicio 8
edades = {
    "Ana": 25,
    "Luis": 30,
    "Marta": 28
}
print("Edad de Luis:", edades["Luis"])
```

```python
# Soluci贸n Ejercicio 9
edades = {"Ana": 25, "Luis": 30, "Marta": 28}
edades["Carlos"] = 35
edades["Marta"] = 29
print(edades)
```

```python
# Soluci贸n Ejercicio 10
productos = {"manzana": 0.5, "pan": 1.2, "leche": 1.0, "huevos": 2.3}
for producto, precio in productos.items():
    print(f"{producto}: {precio}")
```

```python
# Soluci贸n Ejercicio 11
estudiantes = [
    {"nombre": "Sof铆a", "nota": 8},
    {"nombre": "Diego", "nota": 4},
    {"nombre": "Luc铆a", "nota": 6},
    {"nombre": "Pedro", "nota": 9}
]
print("Estudiantes aprobados:")
for estudiante in estudiantes:
    if estudiante["nota"] >= 5:
        print(estudiante["nombre"])
```

```python
# Soluci贸n Ejercicio 12
marcas = ("Toyota", "Ford", "BMW", "Mercedes")
lista_marcas = list(marcas)
lista_marcas.append("Audi")
conjunto_marcas = set(lista_marcas)
print("Conjunto final:", conjunto_marcas)
```

```python
# Soluci贸n Ejercicio 13
numeros = [12, 45, 23, 67, 34, 89, 56]
numeros.sort()
print("Ordenada:", numeros)
numeros.reverse()
print("Invertida:", numeros)
indice = numeros.index(67)
print("ndice del 67:", indice)
```

```python
# Soluci贸n Ejercicio 14
X = {1, 2, 3, 4, 5}
Y = {4, 5, 6, 7}
Z = {7, 8, 9}
resultado = (X & Y) - Z
print("Elementos en X e Y pero no en Z:", resultado)
```

```python
# Soluci贸n Ejercicio 15
biblioteca = {
    "libro1": {
        "titulo": "Cien a帽os de soledad",
        "autor": "Gabriel Garc铆a M谩rquez",
        "a帽o": 1967
    },
    "libro2": {
        "titulo": "1984",
        "autor": "George Orwell",
        "a帽o": 1949
    }
}
libro2_info = biblioteca["libro2"]
print("Segundo libro:")
for clave, valor in libro2_info.items():
    print(f"{clave}: {valor}")
```

---